<h1>Calculator</h1>
<ol>
	<li><%= link_to 'Add', controller: 'calculator', action: 'add' %></li>
	<li><%= link_to 'Subtract', controller: 'calculator', action: 'subtract' %></li>
	<li><%= link_to 'Sine', controller: 'calculator', action: 'sin' %></li>
	<li><%= link_to 'Hypotenuse', controller: 'calculator', action: 'hypo' %></li>
</ol>
